<form class="pure-form pure-form-aligned">
  <fieldset>
    <div class="pure-control-group">
      <input id="email" type="email" placeholder="Email">
    </div>

    <div class="pure-control-group">
      <input id="password" type="password" placeholder="Password">
    </div>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">Login</button>
    </div>
  </fieldset>
</form>