* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  background-color: #DADADA;
  line-height: 1.7em;
  color: #000000;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #FFFFFF;
}

.button-primary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-primary {
  background: #ff505b;
}


.home-menu {
    padding: 0.5em;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #404040;
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #FFFFFF;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #FFFFFF;
}
