<!DOCTYPE html>
<html>
<head>
  <title>Ucoach</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content">
    <%= yield %>  
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
